name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.4
      id: go

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build Openebsctl
      run: make openebsctl

  lint:
    name: Golint
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.4
      id: go_1

    - name: Checkout
      uses: actions/checkout@v2

    - name: Run Golint
      run: make golint

  verify dependencies:
    name: verify-deps
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.4
      id: go_3

    - name: Checkout
      uses: actions/checkout@v2

    - name: Run Deps Check
      run:  make verify-deps